<div class="container-fluid wu">
  <div class="container">
   <div class="row">
      <div class="col-md-12 text-white">
          <div class="row">
              <div class="col-md-3 cc">
          <h2>Get In Touch</h2>
          <div class="para1">
          <i class="fa-solid fa-location-dot"></i>
          <p class="bn">123 Street, New York,<br>USE</p>
          <i class="fa-solid fa-envelope"></i>
          <p class="bn">info@example.com</p>
          <i class="fa-solid fa-phone"></i>
          <p class="bn">+012 345 67890</p>
          <i class="fa-brands fa-twitter fd rounded-circle"></i>
          <i class="fa-brands fa-facebook fd rounded-circle"></i>
          <i class="fa-brands fa-invision fd rounded-circle"></i>
          <i class="fa-brands fa-instagram fd rounded-circle "></i>
      </div><!--para1-end-->
      </div>
      <div class="col-md-2 cc">
          <h2>Quick Links</h2>
          <div class="para1">
              <i class="fa-solid fa-arrow-right"></i>
         <p class="bn">Home</p>
         <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">About Us</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Our Services</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Meet The Team</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Latest Blog</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Contact Us</p>
      </div><!--para1-end-->
      </div>
      <div class="col-md-3 cc">
        <h2>Popular Links</h2>
          <div class="para1">
           <i class="fa-solid fa-arrow-right"></i>
         <p class="bn">Home</p>
         <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">About Us</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Our Services</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Meet The Team</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Latest Blog</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p class="bn">Contact Us</p>
      </div><!--para1-end-->
      </div>
  <div class="col-md-4 text-center">
      <div class="card mv">
          <div class="card-body">
              <div class="para2">
              <h2 class="gz">Newsletter</h2>
              <h4 class="bb">Subscribe Our Newsletter</h4>
              <p class="bb">Amet justo diam dolor rebum lorem<br>sit stet sea justo kasd
              </p>
                  <form>
                      <div style="margin-bottom:16px; ">
                          <div class="kv">
                              Email:
                              <input type="text" Email="" placeholder="Enter your Email">
                      </div>

                      <button type="button" class="btn  btn-lg jc text-white">Sign Up</button>
                  </div>
                  </form>
              </div><!--para2-end-->
          </div><!--card-body-->
  </div><!--card-end-->
  </div>
  </div><!--row-end-->
  </div>
   </div><!--row-end-->
  </div><!--contaienr-end-->
<!--container-fluid-->
<div class="mainfooter">
  <div class="container-fluid">
<div class="row">
  <div class="col-md-12 text-center">
    <p class="text-white gg">© Your Site Name. All Rights Reserved. Designed by pn</p>
  </div>
</div><!--row-end-->
  </div><!--container-fluid-->
</div><!--mainfooter-->
