<section class="web">
  <img src="	https://demowebsite12.netlify.app/img/carousel-1.jpg" class="na" alt="...">
  <h2 class="m1">About Us</h2>
  <h2 class="m2">About Us</h2>
  <button type="button" class="btn btn-success btn-lg zmm">Home</button>
  <button type="button" class="btn btn-warning btn-lg text-white zmm">About us</button>
</section>
<div class="container mo">
<div class="row">
<div class="col-md-4">
  <img src="https://demowebsite12.netlify.app/img/about.png" class="g">
</div>
<div class="col-md-8">
  <h4 class="h4">ABOUT US</h4>
  <p class="pe">We Produce Organic<br>Food For Your Family</p>
  <p class="pr">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor<br>sit. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit.Sanctus<br>clita duo justo et tempor eirmod magna dolore erat amet magna</p>
<div class="row mz">
<div class="col-md-6 text-center">
<img src="https://static.vecteezy.com/system/resources/thumbnails/000/626/625/small/patempat-03.jpg">
<h2 class="te">100% Organic</h2>
<p class="pt">Labore justo vero ipsum sit clita<br>erat lorem magna clita nonumy<br> dolor magna dolor vero</p>
</div>
<div class="col-md-6 text-center">
<img src="https://thumbs.dreamstime.com/b/green-award-ribbon-isolated-green-award-ribbon-isolated-white-background-d-render-114327120.jpg" class="it">
<h2 class="tw">100% Organic</h2>
<p class="pw">Labore justo vero ipsum sit clita<br>erat lorem magna clita nonumy<br> dolor magna dolor vero</p>
</div>
</div><!--row-end-->
</div>
</div><!--row-end-->
</div><!--container-end-->
<div class="container-fluid bg-success wr">
<div class="container">
<div class="row">
<div class="col-md-3 text-center">
  <i class="fa-solid fa-star rounded-circle bg"></i>
  <h2 class="r1">Our Experience</h2>
  <h1 class="r2">12345</h1>
</div>
<div class="col-md-3 text-center">
  <i class="fa-solid fa-users rounded-circle bg"></i>
  <h2 class="r1">Farm Specialist</h2>
  <h1 class="r2">12345</h1>
</div>
<div class="col-md-3 text-center">
  <i class="fa-solid fa-check rounded-circle bg"></i>
  <h2 class="r1">Complete Project</h2>
  <h1 class="r2">12345</h1>
</div>
<div class="col-md-3 text-center">
  <i class="fa-solid fa-mug-hot rounded-circle bg"></i>
  <h2 class="r1">Happy Clients</h2>
  <h1 class="r2">12345</h1>
</div>
</div>
</div><!--row-end-->
</div><!--container-fluid-->
<div class="container tl">
<h3 class="text-center o">THE TEAM</h3>
<h2 class="text-center op">We Are Professional<br>Organic Farmers</h2>
<div class="row">
<div class="col-md-4 br">
<div class="row">
<div class="col-md-10">
<img src="https://demowebsite12.netlify.app/img/team-1.jpg" class="yu">
<div class="para1">
<h2 class="ii text-white">Farmer Name<br>
<span class=" ki text-white">Designation</span>
</h2>
</div>
</div>
<div class="col-md-2 bg-warning  justify-content yy">
<i class="fa-brands fa-twitter mw rounded-circle bg-white"></i>
<i class="fa-brands fa-facebook mw rounded-circle bg-white"></i>
<i class="fa-brands fa-linkedin-in  rounded-circle bg-white mw"></i>
<i class="fa-brands fa-instagram  rounded-circle bg-white mw"></i>
</div>
</div><!--row-end-->
</div>
<br>

<div class="col-md-4  br">
<div class="row">
<div class="col-md-10">
<img src="https://demowebsite12.netlify.app/img/team-2.jpg" class="yu">
<div class="para1">
<h2 class="ii text-white">Farmer Name<br>
<span class=" ki text-white">Designation</span>
</h2>
</div>
</div>
<div class="col-md-2 bg-warning  justify-content yy">
<i class="fa-brands fa-twitter mw rounded-circle bg-white"></i>
<i class="fa-brands fa-facebook mw rounded-circle bg-white"></i>
<i class="fa-brands fa-linkedin-in  rounded-circle bg-white mw"></i>
<i class="fa-brands fa-instagram  rounded-circle bg-white mw"></i>
</div>
</div><!--row-end-->
</div>

<br>
<div class="col-md-4 br">
<div class="row">
<div class="col-md-10">
<img src="https://demowebsite12.netlify.app/img/team-3.jpg" class="yu">
<div class="para1">
<h2 class="ii text-white">Farmer Name<br>
<span class=" ki text-white">Designation</span>
</h2>
</div>
</div>
<div class="col-md-2 bg-warning  justify-content yy">
<i class="fa-brands fa-twitter mw rounded-circle bg-white"></i>
<i class="fa-brands fa-facebook mw rounded-circle bg-white"></i>
<i class="fa-brands fa-linkedin-in  rounded-circle bg-white mw"></i>
<i class="fa-brands fa-instagram  rounded-circle bg-white mw"></i>
</div>
</div><!--row-end-->
</div>
</div><!--row-end-->
</div><!--container-end-->
