<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="web">
    <img src="	https://demowebsite12.netlify.app/img/carousel-1.jpg" class="na" alt="...">
    <h2 class="m1">Our Services</h2>
    <h2 class="m2">Our Services</h2>
    <button type="button" class="btn btn-success btn-lg  nmm">Home</button>
    <button type="button" class="btn btn-warning btn-lg text-white nmm">Our Services</button>
  </section>
  <div class="container me">
    <div class="row">
        <div class="col-md-4">
            <h5 class="qe">SERVICES</h5>
            <p class="te">Organic Farm Services</p>
            <p class="ty">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et lorem et sit sed stet labore
            </p>
            <button type="button" class="btn btn-success btn-lg ">Contact us</button>
        </div>
        <div class="col-md-4 text-center shadow-lg bz">
            <i class="fa-solid fa-carrot bg"></i>
            <h2 class="be">Fresh Vegetables</h2>
           <p class="re">Labore justo vero ipsum sit clita erat lorem<br>magna clita nonumy dolor magna dolor vero</p>
        </div>
        <div class="col-md-4 text-center shadow-lg bz">
            <i class="fa-brands fa-apple bg"></i>
            <h2 class="be">Fresh Vegetables</h2>
           <p class="re">Labore justo vero ipsum sit clita erat lorem<br>magna clita nonumy dolor magna dolor vero</p>
        </div>
    </div><!--row-end-->
  </div><!--container-->

  <div class="container mk">
    <div class="row">
        <div class="col-md-4 text-center shadow-lg bz">
            <i class="fa-solid fa-dog bg"></i>
            <h2 class="be">Healty Cattle</h2>
           <p class="re">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
        <div class="col-md-4 text-center shadow-lg bz">
            <i class="fa-solid fa-tractor bg"></i>
            <h2 class="be">Modern Truck</h2>
           <p class="re">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>

        <div class="col-md-4 text-center shadow-lg bz">
            <i class="fa-solid fa-leaf bg"></i>
            <h2 class="be">Farming Plans </h2>
           <p class="re">Labore justo vero ipsum sit clita erat lorem<br>magna clita nonumy dolor magna dolor vero</p>
        </div>
    </div><!--row-end-->
  </div><!--container-->

  <div class="container-fluid why">

  <div class="container">
    <div class="row mg">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 bg-success nm">
           <!--slider div start-->
  <div class="carousel slide" data-bs-ride="carousel" id="k">

  <div class="carousel-indicators">
  <button type="button" data-bs-target="#k" data-bs-slide-to="0" class="active"></button>
  <button type="button" data-bs-target="#k" data-bs-slide-to="1" ></button>
  </div>

  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="2000">
  <div class="testimonial-item text-center text-white">
      <img class="img-fluid mx-auto p-2 border border-5 border-secondary rounded-circle mb-4" src="	https://demowebsite12.netlify.app/img/testimonial-2.jpg" alt="">

      <p class="ok">Dolores sed duo clita justo dolor et stet lorem kasd dolore lorem ipsum.<br>At lorem lorem magna ut et, nonumy labore diam erat. Erat dolor rebum sit ipsum.</p>
      <hr>
      <h4 class="ko">Client Name</h4>
  </div>
  </div>
  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="2000">
    <div class="testimonial-item text-center text-white">
        <img class="img-fluid mx-auto p-2 border border-5 border-secondary rounded-circle mb-4" src="	https://demowebsite12.netlify.app/img/testimonial-2.jpg" alt="">

        <p class="ok">Dolores sed duo clita justo dolor et stet lorem kasd dolore lorem ipsum.<br>At lorem lorem magna ut et, nonumy labore diam erat. Erat dolor rebum sit ipsum.</p>
        <hr>
        <h4 class="ko">Client Name</h4>
  </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#k" data-bs-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#k" data-bs-slide="next">
  <span class="carousel-control-next-icon"></span>
  </button>
  </div>
  <!--slider div end-->
         <div class="col-md-2">
        </div>
        </div><!--row-end-->
        </div><!--container-end-->
        </div><!--container-fluid-->



