<section class="web">
  <img src="	https://demowebsite12.netlify.app/img/carousel-1.jpg" class="na" alt="...">
  <h2 class="m1">Contact Us</h2>
  <h2 class="m2">Contact Us</h2>
  <button type="button" class="btn btn-success btn-lg ">Home</button>
  <button type="button" class="btn  btn-warning btn-lg text-white">Contact Us</button>
</section>

<div class="container-fluid hjj">
<div class="container">
  <h4 class="un">CONTACT US</h4>
  <p class="zu">Please Feel Free To<br>Contact Us</p>
  <section class="nv">
  <div class="row">
    <div class="col-md-8 shadow-sm">
      <div class="row">
        <div class="col-md-6" style="margin-top:20px;">
          <form>
            <div class="mb-3 text-white">
              <label>Name</label>
              <input type="text" name="name" class="form-control bv">
            </div>
          </form>
        </div>
        <div class="col-md-6" style="margin-top:20px;">
          <form>
            <div class="mb-3 text-white">
              <label>Email</label>
              <input type="text" name="email" class="form-control bv">
            </div>
          </form>
        </div>
        <form>
          <div class="mb-3 text-white">
            <label>Subject</label>
            <input type="text" name="subject" class="form-control bv">
          </div>
        </form>
        <form>
          <div class="mb-3 text-white">
            <label>Address:</label>
            <textarea class="form-control bv"></textarea>
            <button type="button" class="btn btn-info bxx w-100">Send Message</button>
          </div>
        </form>
      </div><!--row-end-->
    </div>
    <div class="col-md-4 bx shadow-sm">
      <h1 class="ds">Get In Touch</h1>
      <i class="fa-solid fa-eye  rounded-circle  vd"></i>
      <h4 class="hx">Our Office</h4>
      <p class="px">123 Street, New York, USA</p>
      <br>
      <i class="fa-solid fa-envelope rounded-circle vd"></i>
    <h4 class="hx">Email Us</h4>
    <p class="px">info@example.com</p>
      <br>
      <i class="fa-solid fa-phone-volume rounded-circle vd"></i>
     <h4 class="hx">Call Us</h4>
     <p class="px">+012 345 6789</p>
    </div>
  </div>
</section>
</div><!--row-end-->
</div><!--container-end-->
