<section>
  <img src="	https://demowebsite12.netlify.app/img/carousel-1.jpg" class="na" alt="...">
      <h2 class="m1">Our Products</h2>
      <h2 class="m2">Our Products</h2>
      <button type="button" class="btn btn-success btn-lg jmm">Home</button>
      <button type="button" class="btn btn-warning btn-lg text-white jmm">Our Products</button>
</section>
<div class="container-fluid kj ">
  <h4 class="ui">PRODUCTS</h4>
  <p class="ti">Our Fresh & Organic<br>Products</p>
  <div class="row nh">
    <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
        <img src="https://demowebsite12.netlify.app/img/product-2.png"class="uu">

        <p style="font-size:20px;font:bold;font-family: maths;">organic vegetable</p>
        <h2 style="color:green">$ 19.00</h2>
        <br>
        <i class="fa-solid fa-cart-shopping "style="font-size:30px;color:#008b8b;"></i>
         <i class="fa-solid fa-eye"style="font-size:30px;color:#008b8b"></i>
    </div><!--card-body-->
    </div><!--card-end-->
  </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
        <img src="https://demowebsite12.netlify.app/img/product-1.png"class="uu">
        <p style="font-size:20px;font:bold;font-family: maths;">organic vegetable</p>
        <h2 style="color:green">$ 19.00</h2>
        <br>
        <i class="fa-solid fa-cart-shopping "style="font-size:30px;color:#008b8b;"></i>
         <i class="fa-solid fa-eye"style="font-size:30px;color:#008b8b"></i>
      </div><!--card-body-->
    </div><!--card-end-->
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
        <img src="https://demowebsite12.netlify.app/img/product-1.png"class="uu">
        <p style="font-size:20px;font:bold;font-family: maths;">organic vegetable</p>
        <h2 style="color:green">$ 19.00</h2>
        <br>
        <i class="fa-solid fa-cart-shopping "style="font-size:30px;color:#008b8b;"></i>
         <i class="fa-solid fa-eye"style="font-size:30px;color:#008b8b	"></i>
      </div><!--card-body-->
    </div><!--card-end-->
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
        <img src="https://demowebsite12.netlify.app/img/product-2.png"class="uu">
        <p style="font-size:20px;font:bold;font-family: maths;">organic vegetable</p>
        <h2 style="color:green">$ 19.00</h2>
        <br>
        <i class="fa-solid fa-cart-shopping "style="font-size:30px;color:#008b8b;"></i>
         <i class="fa-solid fa-eye"style="font-size:30px;color:#008b8b"></i>
      </div><!--card-body-->
    </div><!--card-end-->
      </div>
      <div class="col-md-2">
      </div>
  </div><!--row-end-->
</div><!--container-end-->
 <!--container-fluid-->
 <div class="container-fluid mx">
<div class="container">
<h4 class="h2">FEATURES</h4>
  <p class="h4">Why Choose Us!!!</p>
<div class="row">
  <div class="col-md-2">
    <i class="fa-solid fa-leaf text-white rounded-circle md fs-1"></i>
    <h2 class="h5">100% Organic</h2>
    <p class="h6">Labore justo vero ipsum sit clita erat lorem magna clita</p>
 <br>
 <br>
 <br>
 <br>
 <i class="fa-solid fa-award text-white rounded-circle md fs-1"></i>
    <h2 class="h5">Award Winning</h2>
    <p class="h6">Labore justo vero ipsum sit clita erat lorem magna clita</p>
  </div>
  <div class="col-md-8 text-center">
    <div class="card">
      <div class="card-body">
     <p class="h8">At et justo elitr amet sea at. Magna et sit  vero at ipsum sit<br> et dolores rebum. Magna sea eos sit dolor,ipsum amet no <br>tempor ipsum eirmod lorem eirmod diam tempor dolor<br> eos diam et et diam dolor ea. Clita est rebum  amet<br>dolore sit. Dolor stet dolor duo clita,vero dolor<br>ipsum amet dolore magna lorem erat<br> stet sed vero dolor</p>
     <img src="https://demowebsite12.netlify.app/img/feature.png"class="ob">
      </div><!--card-body-->
    </div><!--card-end-->
    </div>
    <div class="col-md-2">
      <i class="fa-solid fa-tractor text-white rounded-circle md fs-1"></i>
      <h2 class="h5">Modern Farming</h2>
      <p class="h6">Labore justo vero ipsum sit clita erat lorem magna clita</p>
   <br>
   <br>
   <br>
   <br>
   <i class="fa-solid fa-phone text-white rounded-circle md fs-1"></i>
      <h2 class="h5">24/7 Support</h2>
      <p class="h6">Labore justo vero ipsum sit clita erat lorem magna clita</p>
    </div>
  </div><!--row-end-->
</div><!--container--end-->
</div><!--container-fluid-->


