<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--slider div start-->
  <div class="carousel slide" data-bs-ride="carousel" id="t">
    <div class="carousel-indicators">
     <button type="button" data-bs-target="#t" data-bs-slide-to="0" class="active"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="1"></button>
     <!-- <button type="button" data-bs-target="#t" data-bs-slide-to="2"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="3"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="4"></button> -->


   </div>

   <div class="carousel-inner">
     <div class="carousel-item active" data-bs-interval="2000">
       <img src="https://demowebsite12.netlify.app/img/carousel-1.jpg" class="w-100" alt="...">

       <div class="carousel-caption ">
         <h2 class="a2 tw">Organic Fruits</h2>
         <h2 class="a2 tm">Organic Fruits</h2>
        <p class="a3 web">Organic Vegetables<br>For Healthy Life</p>
        <p class="a3 mob">OrganicVegetables<br>For Healthy<br> Life</p>
        <button type="button" class="btn btn-success btn-lg  nmm">Explore</button>
        <button type="button" class="btn btn-warning btn-lg text-white nmj">Contact</button>



       </div><!--carousel-caption-->
     </div>
     <div class="carousel-item" data-bs-interval="2000">
       <img src="https://demowebsite12.netlify.app/img/carousel-2.jpg" class="w-100" alt="...">
       <div class="carousel-caption">
        <h2 class="a2 tw">Organic Fruits</h2>
        <h2 class="a2 tm">Organic Fruits</h2>
        <p class="a3 web">Organic Fruits For<br> Better Health</p>
        <p class="a3 mob">Organic Fruits<br>For Better<br>Health</p>
        <button type="button" class="btn btn-success btn-lg  nmm">Explore</button>
        <button type="button" class="btn btn-warning btn-lg text-white nmj">Contact</button>
       </div><!--carousel-caption-->
     </div>

   </div><!--carousel-inner-->

    <button class="carousel-control-prev" type="button" data-bs-target="#t" data-bs-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#t" data-bs-slide="next">
     <span class="carousel-control-next-icon"></span>
   </button>
 </div>
  <!--slider div end-->
  <div class="container q ">
  <div class="row">
    <div class="col-md-6 bg-success q4">
      <img src="https://demowebsite12.netlify.app/img/vegetable.png"class="wq1">
      <h2 class="wq2">Organic Vegetables</h2>
      <p  class="wq3">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
      <img src="https://demowebsite12.netlify.app/img/vegetable.png"class="mq1">
      <h2 class="mq2">Organic Vegetables</h2>
      <p  class="mq3">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
    </div>
    <div class="col-md-6 bg-warning">
      <img src="	https://demowebsite12.netlify.app/img/fruit.png"class="wq1">
      <h2 class="wq2">Organic Fruits</h2>
      <p  class="wq3">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
      <img src="	https://demowebsite12.netlify.app/img/fruit.png"class="mq1">
      <h2 class="mq2">Organic Fruits</h2>
      <p  class="mq3">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
    </div>
  </div><!--row-end-->
  </div><!--container-end-->
</body>
</html>
